* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

body {
    font-family: myfont;
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    font-family: myfont;
}

ul {
    list-style: none;
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none;
    font-size: 15px;
    line-height: 2.5em;
}


.material-symbols-outlined {
    font-size: 2em;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#header {
    position: relative;
}

#header img {
    max-width: 100%;
    display: block;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/overlay-pattern.png) #000000;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.fa-bars {
    color: red;
    font-size: 1.3em;
}

#navbar {
    position: sticky;
    top: 0;
}

nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -70px;
    padding: 20px 20px 40px 10px;
    background: linear-gradient(45deg, white 10%, rgba(255, 255, 255, 0.6));
}

/* menu dropdown */
#menuBottone {
    display: none;
}

nav ul {
    transition: all 0.5s;
    overflow: hidden;
    height: 0;
    flex-basis: 100%;
    margin-top: 40px;
}

nav ul li {
    padding-left: 10px;
}

nav ul a::after {
    width: 0;
    height: 2px;
    display: block;
    background-color: orangered;
    content: '';
}

nav ul a:hover::after {
    width: 100%;
    transition: 0.5s;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: black;

}

input[type='checkbox']:checked+ul {
    height: 250px;
}

/* FOOTER */

span {
    color: #FF4F02;
}

ul,
a {
    text-decoration: none;
    list-style: none;
    color: #555;
}

#footer {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

#footer h3 {
    margin-bottom: 30px;
}

#footer ul {
    margin-bottom: 50px;
}

#footer #info li {
    line-height: 2;
}

#footer #blog li {
    line-height: 1.3;
}

#footer #blog li p {
    margin-bottom: 20px;
}

#footer i {
    color: #555;
    font-size: 20px;
}

.contact_info i {
    margin-right: 30px;
    font-size: 20px;
}

.blog_post h4 {
    color: #FF4F02;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.flex_photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex_photo li {
    margin-bottom: 25px;
    display: inline-block;
    margin-right: 20px
}

.social_footer {
    margin-top: 20px;
}

.social_footer li {
    transition: .3s all;
}

.social_footer a {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 9px;
    border-radius: 100%;
    background: #B0B0B0;
}

.social_footer a i {
    color: #FFFFFF;
}

#footer-bottom {
    background: #E9E9E9;
    padding: 20px 20px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {

    /* HEADER */
    #menu {
        display: none;
    }

    nav {
        width: 750px;
    }

    #navbar nav {
        align-items: baseline;
        padding-right: 0;
    }

    #navbar nav ul {
        height: 60px;
        display: flex;
        overflow: visible;
        flex-basis: 71%;
        margin-top: 0;
    }

    #navbar nav ul li {
        text-align: center;
        padding-left: 0;
        margin: 0 18px 0px 19px;
    }

    #navbar nav ul li a {
        padding: 10px 0px;
        font-size: 15px;
        display: inline-block;
        text-align: center;
    }

    /* FOOTER */
    #footer {
        padding: 70px 100px;
    }

    .contact_info {
        display: flex;
        flex-direction: row;
    }

    .contact_info li {
        margin-right: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {

    /* Header */

    nav {
        width: 970px;
        margin-top: -90px;
        padding: 30px 20px 40px 30px;
    }

    #navbar nav ul {
        flex-basis: 60%;
    }


    #footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 70px 30px;
    }

    #footer div {
        margin-right: 50px;
    }

    .contact_info {
        flex-direction: column;
    }

    .flex_photo {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        width: 1170px;
    }

    #navbar nav ul {
        flex-basis: 50%;
    }
}